/* Diana Gómez web page 2019 CSS Document */
/* Develop by Me*/
/* reset default*/

* {
  margin: 0px;
  padding: 0px;
  font-family: "lato", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  font-style: italic;
  font-weight: 900;
}

body {
  max-width: 1400px;
  background-color:#ffc3ff;
  background-image: url(background.png),radial-gradient(circle, rgba(129,155,255,1) 80%, rgba(238,174,202,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
 background-attachment: fixed;
 background-position-x: 48%;
  
}

@media screen and (max-width: 800px) {
  body{
    background-attachment: fixed;
     background-position-x: 48%;
  }
}

/*header*/
header#main{
	position: relative;
	width:100%;
	height:60vw;
	margin:auto;
	background-position-y: 100%;
	background: cover;
	background-repeat:no-repeat;
}


#loading {
    z-index:2;
    position: absolute;
    
  
  -webkit-animation: rotation 300s infinite linear;
  
 
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@media screen and (max-width: 800px){
  #loading{
  width:120%;
  margin-left:-9%;
  margin-top:129%;
  }
}
@media (min-width: 425px) {
   #loading{
  width:100%;
  margin-left:1%;
  margin-top:100%;
  }
}
 .type {
  z-index: 5;
  width: 10%;
  height: 20%;
  margin-left:2.5vw;
  margin-top:2.5vw;
  position: fixed;
  background-image: url(name2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px){
  .type{
    width: 40%;
  }
}
@media (min-width: 320px){
    .type{
    width: 30%;
  }

}
.type a{
  z-index: 5;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  color:white;
  padding-top: 30%;
  padding-left:40%;
  font-size: 1.1vw;
}

@media screen and (max-width: 800px){
  .type a{
     font-size: 4vw;
  }
}
.type a:hover{
 color: #EACBF1;
}
.type:hover{
  position: fixed;
  z-index: 5;
 background-image: url(name4.png);

}

.nombre:nth-child(1) a{
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.type:nth-child(1) a{
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F500C4, 0 0 70px #F500C4, 0 0 80px #F500C4, 0 0 100px #F500C4, 0 0 150px #F500C4;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F500C4, 0 0 35px #F500C4, 0 0 40px #F500C4, 0 0 50px #FF1177, 0 0 75px #F500C4;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F500C4, 0 0 70px #F500C4, 0 0 80px #F500C4, 0 0 100px #F500C4, 0 0 150px #F500C4;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F500C4, 0 0 35px #F500C4, 0 0 40px #F500C4, 0 0 50px #F500C4, 0 0 75px #F500C4;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #F500C4, 0 0 7px #F500C4, 0 0 8px #F500C4, 0 0 10px #F500C4, 0 0 15px #F500C4;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F500C4, 0 0 3px #F500C4, 0 0 4px #F500C4, 0 0 5px #F500C4, 0 0 7px #F500C4;
  }
}

.nombre:nth-child(1) a:hover {
  color: rgb(255, 0, 204);
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
footer .nombre a{
 width: 5%;
  position: absolute;
  color: white;
  margin-left:84%;
  margin-top: 38%;
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
@media screen and (max-width: 800px){
  footer .nombre a{
    width: 100%;
    margin-top: 170%;
    margin-left:24%;
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (min-width: 320px){
   footer .nombre a{
       margin-top: 130%;
         margin-left:28%;
   }
}
.nombre a{
  position: absolute;
  color: white;
  margin-left:-3%;
  margin-top: 44%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media screen and (max-width: 800px){
.nombre a{
  z-index: 5;
  margin-left:26%;
  margin-top: 155%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
}
@media (min-width: 425px){
  .nombre a{
      margin-top: 120%;
       margin-left:30%;
  }
}
.nombre a:hover{
  color: rgb(245, 0, 196);
}

/*MENU HAMBUERGER*/

.burger {
  width: 3vw;
  height: 5vw;
  position: fixed;
  top: 3vw;
  right: 5%;
  z-index: 10;
}
@media screen and (max-width: 800px){
  .burger {
   right: 20%;
 
}
}


 .burger span::after {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #b3181800;
  background-image: url(face.svg);
  background-repeat: no-repeat;
  outline: 1px solid transparerednt;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
 .burger span::after {
  position: absolute;
  content: "";
}


.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(15deg);
  -moz-transform: translateY(9px) rotate(15deg);
  -ms-transform: translateY(9px) rotate(15deg);
  -o-transform: translateY(9px) rotate(15deg);
  transform: translateY(9px) rotate(15deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(0deg);
  -moz-transform: translateY(-9px) rotate(0deg);
  -ms-transform: translateY(-9px) rotate(0deg);
  -o-transform: translateY(-9px) rotate(0deg);
  transform: translateY(-9px) rotate(0deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color:#d1d1d100;
  background-image: url(face2.svg);
 
  

}

@media screen and (max-width: 800px) {
  .burger.clicked span:before,
  .burger.clicked span:after {
    width: 180%;
    margin-left: 0%;
  }
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background-color: #b8111100;
  text-align: center;
  background-image: url(/menu.svg);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 9;
  top: -8%;
  right: -12%;
  height: 120%;
  max-width: 50%;
  width: 90%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(96%);
  -moz-transform: translateX(96%);
  -ms-transform: translateX(96%);
  -o-transform: translateX(96%);
  transform: translateX(96%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media screen and (max-width: 800px) {
  nav {
    width: 400%;
     background-image: url(menu.svg);
    max-width: 100%;
    
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    -o-transform: translateX(80%);
    transform: translateX(80%);
  
  }
}
nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}
@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  display: grid;
  list-style-type: none;
  margin-top: 40%;
 
  
}


@media screen and (max-width: 800px) {
  nav ul.main {
    margin-left: 1vw;
    padding-top: 18vw;
  }
}
nav ul.main li {
  z-index:11;
  width: 32vw;
  margin-bottom: 20px;
  
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .main li a {
    z-index: -2;
    width: 80vw;
  }
}

nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  nav ul.main li:last-of-type {
    margin-bottom: 18px;
  }
}
/*TEXTOS: HOME-ABOUT US-CONTACT*/
nav ul.main li a {
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 0.19vw rgb(0, 8, 255);/*BORDE DE LINEA TEXTO*/
  
  color: rgba(255, 255, 255, 0);/*COLOR DEL RELLENO TEXTO*/
  font-size: 5vw;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 0.3;/*Interlineado*/
  display: block;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
   -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


nav ul.main li a span {
  color: #7fb798;
}
nav ul.main li a:hover {
  color: rgb(255, 0, 204);
}

nav ul.otro a {
  position: absolute;
  margin-top: 20%;
margin-left:-10%;
  list-style-type: none;
  color: rgb(255, 0, 204);
  text-decoration: none;
   -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  
 
}
nav ul.otro a:hover{
  color:white;
  font-size: 2vw;
margin-top: 20%;
margin-left:-23%;
}

nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  nav ul.sub li:last-of-type {
    padding-bottom: 18vw;
  }
}

/*SUB-TEXTOS: COMPANY DETAIL, PRIVACY, COOKIE*/
nav ul.sub li a {
  color: #9a9a9a;
  line-height: 0.5;
  font-size: 1.5vw;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  
}

@media screen and (max-width: 800px) {
  nav ul.sub li a {
    font-size: 5vw;
    line-height: 2;
  }
}

nav ul.sub li a:hover {
  color: #000000;
  
}

